.center-element{
  
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}


  .header{
    background-color: black;
    border:20px solid black;
    color:white
  }
  .footer{
    background-color: black;
    border:20px solid black;
  }
.exam-code{
    border:1px dashed yellow;
}
.bgcode{
    background-color: #171615;  /*171615*/
    color: white
}

ol li a{
  text-decoration :none;
}
ol li a:hover{
  text-decoration :none;
  background:yellow;
  color:red;
}