*{
    box-sizing: border-box;
}
body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
}
main{
    padding: 10px;
    margin-top: 110px;
}


header{
    background-color: black;
    color: white;
    border:20px solid black;

    text-align: center; /* Centers horizontally */

    padding: 10px 20px;
    width: 100%;

    position: fixed; /* This makes the header fixed */
    top: 0;           /* Aligns the header to the top */
    z-index: 1000;    /* Ensures the header stays on top of other elements */
}

#code-lesson{
    display:flex;
}
#code-part{
    width: 50vw;
}
#output-part{
    width: 50vw;
}

@media (max-width:500px){
    #code-lesson{
        display:block;
    }
    #code-part{
        width: 100vw;
    }
    #output-part{
        width: 100vw;
    }
}


.html-symbol{
    color:#68685A;
}
.html-syntax{
    color:#559AD3;
}
.html-attribute{
    color:#A2E6FF;
}
.html-attribute-value{
    color:#D6977A;
}

.css-selector{
    color:#CEB37B;
}
.css-attribute{
    color:#A2E6FF;
}
.css-const-value{
    color:#BFD5A7;
}
.css-value{
    color:#D6977A;
}
.css-symbol{
    color:#FFE50C;
}
.css-import{
    color:#C989C7;
}
.css-url{
    color:#E7E4AA;
}

pre{
    background-color: #1F1F1F;
    color:white;
}